@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  /* overflow-y: auto; */
}

.grid {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar content";
  grid-template-rows: 60px auto;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
  width: 100%;
  max-width: 300px;
  overflow-y: auto;
}
.topbar {
  grid-area: header;
  margin: 0 10px;
}

.app {
  grid-area: content;
  overflow-y: auto;
  /* margin-bottom: 10px; */
}


html,
body,
#root,
.app {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #858585;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535ac8;
}

/* Handle on hover */
::webkit-scrollbar-thumb:hover {
  background: #555;
}